aiofiles
aiohttp
asyncio
cachetools
cloudpickle
#enkanetworkv2.py
python-magic
python-magic-bin
matplotlib
more-itertools
numpy
Pillow
pydantic

git+https://github.com/Nubuki-all/EnkaNetworkV2.py
